<!-- Why We? -->
<section class="u-content-space">
    <div class="container">
        <header class="text-center w-md-50 mx-auto mb-8">
            <h2 class="h1 primary-color">Contact Us</h2>
            <p class="h5">Follow us on social media for the latest updates. Send us your feedback or feature requests and report bugs. Or contact us directly.</p>
        </header>
        <hr class="my-8">

        <!-- Row -->
        <div class="row text-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="display-4 text-primary mb-2">
                    <i class="fab fa-github"></i>
                </div>
                <h4 class="h5">Github</h4>
                <p>Submit bug reports or feature requests.</p>
                <a href="/github" target="_blank">
                    github.com/HeleusCore <i class="fas fa-arrow-right ml-1"></i>
                </a>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="display-4 text-primary mb-2">
                    <i class="fab fa-reddit"></i>
                </div>
                <h4 class="h5">Reddit</h4>
                <p>Talk with us and other people about Heleus Core.</p>
                <a href="/reddit" target="_blank">
                    reddit.com/r/HeleusCore <i class="fas fa-arrow-right ml-1"></i>
                </a>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="display-4 text-primary mb-2">
                    <i class="fab fa-medium"></i>
                </div>
                <h4 class="h5">Medium</h4>
                <p>Read our blog to be up to date.</p>
                <a href="/medium" target="_blank">
                    medium.com/@@HeleusCore <i class="fas fa-arrow-right ml-1"></i>
                </a>
            </div>
        </div>
        <!-- End Row -->
        <hr class="my-8">
        <!-- Row -->
        <div class="row text-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="display-4 text-primary mb-2">
                    <i class="fab fa-twitter"></i>
                </div>
                <h4 class="h5">Twitter</h4>
                <p>Follow us and tweet us your questions.</p>
                <a href="/twitter" target="_blank">
                    twitter.com/HeleusCore <i class="fas fa-arrow-right ml-1"></i>
                </a>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="display-4 text-primary mb-2">
                    <i class="fab fa-facebook"></i>
                </div>
                <h4 class="h5">Facebook</h4>
                <p>Well, you can like us.</p>
                <a href="/facebook" target="_blank">
                    facebook.com/HeleusCore <i class="fas fa-arrow-right ml-1"></i>
                </a>
            </div>

            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="display-4 text-primary mb-2">
                    <i class="fas fa-envelope"></i>
                </div>
                <h4 class="h5">Mail</h4>
                <p>Mail us! An underestimated classic.</p>
                <a href="mailto:info@heleuscore.com">
                    info@heleuscore.com <i class="fas fa-arrow-right ml-1"></i>
                </a>
            </div>
        </div>
        <!-- End Row -->
    </div>
</section>